/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
body {
    padding: 0;
    margin: 0;
    background-color: #d5def5;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 50px;
}

.hello {
    width: 500px;
    height: 300px;
    border: none;
    border-radius: 50px;
    font-size: 80px;
    cursor: pointer;
    background-color: #8594e4;
    color: #efefef;
}

.hello:hover {
    background-color: #444;
    transition: 300ms;
}